h1 {
  text-align: center;
  background-color: #b1b0b4;
  color: black;
  border-color: black;
}

body {
  font-family: Arial, sans-serif, monospace;
  background-color: lightgreen;
  display:flex;
  justify-content:center;
  align-items:center;
}

#page {
  background-color: white;
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:auto;
  width:80%;
  height:80%;
}

#tribute-info {
  color: #393a39;
  padding:20px 90px;
}

#img-div {
	margin:auto;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:auto;
}

#img-caption {
	text-align:center;
	align-self:flex-end;
}

#image {
	width:60%;
	max-width:100%;
	margin:auto;
}

.quote {
  text-align: right;
  width:50%;
  margin:auto;
  background-color: #b1b0b4;
  padding-top: 3%; 
}

#quote-body {
  font-size: 20px;
  height: 60px;
  text-align: center;
}

#quote-author {
  text-align: right;
}

.tribute-link {
	text-align:center;
}
